extends layout

block content
  h1= title
  p Welcome to the #{title} application for the demo online store "Furnico".

  h2 Inventory Status 

  if error
    p Error pulling inventory data 
  else 
    p The inventory currently consists of the following: 

    ul 
      li #[strong Products:] !{data.product_count}
      li #[strong Product Categories:] !{data.category_count}
