extends layout

block publicContent
    h1 #{title} 
    p Welcome! This is a demo app, so you can proceed with username #{`<admin>`} and password #{`<1234>`}, or feel free to sign up with a new account!

    form(action="/catalog/login", method="post") 
        div.form-row
            label(for="username") Username 
            input(type="text", id="username" name="username" required autofocus)
        div.form-row   
            label(for="password") Password 
            input(type="password", id="password", name="password" required)
        button(type="submit") Sign in